body {
  background-color: aquamarine;
}

#firstDiv {
  background-color: azure;
  width: 300px;
  height: 90px;

  display: inline-block;
}

.simpleDiv {
  display: inline-block;
  width: 120px;
  height: 100px;
  margin-top: 40px;
  vertical-align: top;
}

#alpha {
  background-color: rgb(34, 110, 110);
}
#betha {
  background-color: rgb(130, 155, 20);
}
#gamma {
  background-color: rgb(173, 40, 151);
}
#sigma {
  background-color: rgb(93, 79, 168);
}

body {
  background-color: azure;
  padding-top: 50px;

  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
      supported by Chrome and Opera */
}

#setPlayer {
  display: inline-block;
  width: 150px;
  height: 70px;
  background-color: #66ff66;
}

h1,
h2 {
  text-align: center;
  margin: 0 auto;
}

/* ------------ HEX ----------------- */
.hex-container {
  height: 500px;
  width: max-content;
  margin: 0 auto;
}

.hex {
  display: inline-grid;
  grid-template-columns: repeat(3, 40px);
  grid-template-rows: repeat(3, 40px);
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
  margin-left: -14px;
  background-color: rgb(190, 192, 192);

  -webkit-clip-path: polygon(
    50% 0%,
    95% 25%,
    95% 75%,
    50% 100%,
    5% 75%,
    5% 25%
  );
  clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
}

.hex:hover {
  opacity: 0.3;
}

.hex-small {
  width: 38px;
  height: 38px;
  /* opacity: 0.3; */
  border: rgb(201, 196, 196) 1px dotted;
}

.hex-row {
  margin-top: -27px;
}

.hex-row.even {
  margin-left: -54px;
}

/* ------------------------- */

.class-mountain {
  background-color: brown;
}

.class-forest {
  background-color: rgb(85, 37, 37);
}

.class-grass {
  background-color: green;
}

.class-water {
  background-color: blue;
}

.class-plain {
  background-color: orange;
}

/* ------------ TOWN Images ----------------- */
.merchant {
  background-image: url(./img/merchant.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  /* position: relative; */
}

.town {
  background-image: url(./img/town.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 110%;
  /* position: relative; */
}

.fortress {
  background-image: url(./img/fortress.png);
  background-repeat: no-repeat;
  background-position:center;
  background-size: 100%;
  /* position: relative; */
}

.academy {
  background-image: url(./img/academy.png);
  background-repeat: no-repeat;
  background-position:center;
  background-size: 100%;
  /* position: relative; */
}

.port {
  background-image: url(./img/port.png);
  background-repeat: no-repeat;
  background-position:center;
  background-size: 100%;
  /* position: relative; */
}

.market {
  background-image: url(./img/market.png);
  background-repeat: no-repeat;
  background-position:center;
  background-size: 100%;
  /* position: relative; */
}


/* ------------ HUD ----------------- */
.game-container {
  margin-top: 80px;
  height: 800px;
}

.hud-global {
  background-color: rgb(61, 107, 92);
}

.hud-merchant {
  display: none;
}

.hud-town {
  display: none;
}

.hud-town-btn {
  width: 130px;
  height: 50px;
}

.container-structure {
  display: none;
}

#confirmBtn {
  display: none;
}


.hud-technology-container {
  margin-top: 50px;
}

.p1-resource-container {
  display: flex;
  width: 650px;
  background-color: #9edb9e;
}

.resource-container {
  width: 100px;
}

.resource-value {
  width: 100px;
  height: 40px;
}


/* ------------ GAMEPLAY  ----------------- */

.possible-move {
  opacity: 0.4;
}

.possible-collect {
  opacity: 0.7;
}
.settle-btn {
  width: 100px;
  border-radius: 5px;
}
.settle-btn:hover {
  background-color: #66ff66;
}










/* ------------ TEST  ----------------- */

.divGrid {
  width: 150px;
  display: inline-grid;
  grid-template-columns: repeat(3, 40px);
  grid-template-rows: repeat(3, 40px);
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
  border: black solid;
}

.gridItem {
  width: 30px;
  height: 30px;
  background-color: aqua;
}
